@model Project.Services.ViewModels.CuisineViewModel

<head>
    <link rel="stylesheet" href="/css/style1.css">
</head>

<form method="post" asp-action="AddCuisine">

    @Html.AntiForgeryToken()

    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p><label asp-for="CuisineName">Cuisine Name:</label></p>
        <input asp-for="CuisineName" class="form-control" />

        <p><label asp-for="CuisineImage">Cuisine Image:</label></p>
        <input asp-for="CuisineImage" class="form-control" />

        <div class="buttons">

        <button type="submit" class="btn btn-outline-danger" value="Add Recipe Cuisine">Add Cuisine</button>

        <a asp-action="Index" class="btn btn-outline-danger">Back To Cuisines</a>

        </div>

    </div>

</form>
