
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


 @Html.Partial("_GetRecipes")

<div class="gobackbutton">
<a asp-controller="Cuisine" asp-action="Index" class="btn btn-outline-danger">Back To Cuisines</a>
</div>