@model Project.Services.ViewModels.RecipeCategoryViewModel

<head>
    <link rel="stylesheet" href="/css/style1.css">
</head>

<form method="post" asp-action="Update">

    @Html.AntiForgeryToken()

    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="RecipeCategoryId" value="@Model.RecipeCategoryId" />

        <p><label asp-for="RecipeCategoryName">Recipe Category Name:</label></p>
        <input asp-for="RecipeCategoryName" class="form-control" />

        <p><label asp-for="RecipeCategoryImage">Recipe Category Image:</label></p>
        <input asp-for="RecipeCategoryImage" class="form-control" />

        <div class="buttons">

        <button type="submit" class="btn btn-outline-danger" value="Update Recipe Category">Update Recipe Category</button>

        <a asp-action="Index" class="btn btn-danger">Back To Recipe Categories</a>

        </div>

    </div>

</form>
