@model Project.Services.ViewModels.RecipeViewModel

<head>
    <style>
        body{
            background: #CA0000;
        }
        form{
            background: white;
        }
        .form-control{
            margin-bottom:40px;
        }
        .container{
            padding:40px;
        }
    </style>
</head>

<form method="post" asp-action="AddRecipe">
    @Html.AntiForgeryToken()
    <div class="container">

        <p><label asp-for="RecipeTitle">Recipe Title:</label></p>
        <input asp-for="RecipeTitle" class="form-control" />

        <p><label asp-for="RecipeImage">Recipe Image:</label></p>
        <input asp-for="RecipeImage" class="form-control" />

        <p><label asp-for="RecipeInredients">Recipe Ingredients:</label></p>
        <textarea asp-for="RecipeInredients" class="form-control" id="RecipeInredients" name="RecipeInredients" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDescription">Recipe Description:</label></p>
        <textarea asp-for="RecipeDescription" class="form-control" id="RecipeDescription" name="RecipeDescription" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeIntroduction">Recipe Introduction:</label></p>
        <textarea asp-for="RecipeIntroduction" class="form-control" id="RecipeIntroduction" name="RecipeIntroduction" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDirections">Recipe Directions:</label></p>
        <textarea asp-for="RecipeDirections" class="form-control" id="RecipeDirections" name="RecipeDirections" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeCookTime">Recipe CookTime (minutes):</label></p>
        <input asp-for="RecipeCookTime" class="form-control" />

        <p><label asp-for="RecipeCalories">Recipe Calories (per 100g):</label></p>
        <input asp-for="RecipeCalories" class="form-control" />

        <p><label asp-for="RecipeServings">Recipe Servings:</label></p>
        <input asp-for="RecipeServings" class="form-control" />

        <p><label asp-for="RecipeAuthorId">Recipe Author UserName:</label></p>
        <input asp-for="RecipeAuthorId" class="form-control" />

        <p><label asp-for="RecipeCategoryId">Recipe Category:</label></p>
        <input asp-for="RecipeCategoryId" class="form-control" />

        <p><label asp-for="Cuisine">Cuisine:</label></p>
        <input asp-for="CuisineId" class="form-control" />

        <div class="buttons">

        <button type="submit" class="btn btn-outline-danger" value="Add Recipe">Add Recipe</button>

        <a asp-action="Index" class="btn btn-outline-danger">Back To All Recipes</a>

        </div>

    </div>
</form>
