@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project.Services.ViewModels.RecipeViewModel

<form method="post" asp-action="AddRecipe">
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <article class="post vt-post">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                        <div class="caption">
                            <p><label asp-for="RecipeId">RecipeId:</label></p>
                            <input asp-for="RecipeId" class="form-control" />

                            <p><label asp-for="RecipeTitle">RecipeTitle:</label></p>
                            <input asp-for="RecipeTitle" class="form-control" />

                            <p><label asp-for="RecipeVideo">RecipeVideo:</label></p>
                            <input asp-for="RecipeVideo" class="form-control" />

                            <p><label asp-for="RecipeInredients">RecipeInredients:</label></p>
                            <input asp-for="RecipeInredients" class="form-control" />

                            <p><label asp-for="RecipeDescription">RecipeDescription:</label></p>
                            <input asp-for="RecipeDescription" class="form-control" />

                            <p><label asp-for="RecipeAuthor">RecipeAuthor:</label></p>
                            <input asp-for="RecipeAuthor" class="form-control" />

                            <p><label asp-for="RecipeIntroduction">RecipeIntroduction:</label></p>
                            <input asp-for="RecipeIntroduction" class="form-control" />

                            <p><label asp-for="RecipeDirections">RecipeDirections:</label></p>
                            <input asp-for="RecipeDirections" class="form-control" />

                            <p><label asp-for="RecipeCookTime">RecipeCookTime:</label></p>
                            <input asp-for="RecipeCookTime" class="form-control" />

                            <p><label asp-for="RecipeCalories">RecipeCalories:</label></p>
                            <input asp-for="RecipeCalories" class="form-control" />

                            <p><label asp-for="RecipeServings">RecipeServings:</label></p>
                            <input asp-for="RecipeServings" class="form-control" />

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-10 offset-2 row">
            <div class="col">
                <input type="submit" class="btn btn-info w-55" value="Add"/>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-danger w-74">Back</a>
            </div>
        </div>
    </div>
</form>