@model List<Project.Services.ViewModels.ReviewViewModel>

@foreach (var @item in Model)
{
    <head>
    <style>
        body{
            
        }
        .title{
            font-size: 30px;
            font-weight:bold;
            border: 1px solid black;
        }
        .class1{
            border: 1px solid black;
        }
        .review{
            margin-bottom:30px;
        }
        .deleteReview{
             margin-top:30px;
        }
    </style>
</head>
<div class="review">

    <div class="title">
        <p>@item.ReviewMessage</p>
    </div>

    <div class="class1">
        <p>Date: @item.ReviewDate</p>
    </div>

    <div class="class1">
        <p>Review Author: @item.ReviewAuthorId</p>
    </div>

    @if (User.IsInRole("Admin"))
        {
            <div class="deleteReview">
                <a asp-controller="Review" asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-outline-danger">Delete Review</a>
            </div>
        }

</div>
}

<div class="gobackbutton">
<a asp-controller="Recipe" asp-action="Index" class="btn btn-outline-danger">Back To All Recipes</a>
</div>

