@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Project.Services.ViewModels.RecipeViewModel>
@foreach (var item in Model)
{
    <div class="title">
        <p>@item.RecipeTitle</p>
        <a asp-area="" asp-controller="Recipe" asp-action="Details" asp-route-id="@item.RecipeId">Recipe Details</a>
        <a asp-area="" asp-controller="Recipe" asp-action="Update">Update Recipe</a>
        <a asp-area="" asp-controller="Recipe" asp-action="Delete" asp-route-id="@item.RecipeId">Delete Recipe</a>
    </div>
}