
<h2>Search results: </h2>

<hr class="hr hr-blurry" />

@Html.Partial("_GetRecipes")

<div class="gobackbutton">
<a asp-controller="Recipe" asp-action="Index" class="btn btn-danger">Back To All Recipes</a>
</div>