@model Project.Services.ViewModels.RecipeViewModel

<head>
    <link rel="stylesheet" href="/css/style1.css">
</head>

<form method="post" asp-action="Update">

    @Html.AntiForgeryToken()

    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="RecipeId" value="@Model.RecipeId" />

        <p><label asp-for="RecipeTitle">Recipe Title:</label></p>
        <input asp-for="RecipeTitle" class="form-control" />

        <p><label asp-for="RecipeImage">Recipe Image:</label></p>
        <input asp-for="RecipeImage" class="form-control" />

        <p><label asp-for="RecipeInredients">Recipe Ingredients:</label></p>
        <textarea asp-for="RecipeInredients" class="form-control" id="RecipeInredients" name="RecipeInredients" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDescription">Recipe Description:</label></p>
        <textarea asp-for="RecipeDescription" class="form-control" id="RecipeDescription" name="RecipeDescription" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeIntroduction">Recipe Introduction:</label></p>
        <textarea asp-for="RecipeIntroduction" class="form-control" id="RecipeIntroduction" name="RecipeIntroduction" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDirections">Recipe Directions:</label></p>
        <textarea asp-for="RecipeDirections" class="form-control" id="RecipeDirections" name="RecipeDirections" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeCookTime">Recipe CookTime (minutes):</label></p>
        <input asp-for="RecipeCookTime" class="form-control" />

        <p><label asp-for="RecipeCalories">Recipe Calories (per 100g):</label></p>
        <input asp-for="RecipeCalories" class="form-control" />

        <p><label asp-for="RecipeServings">Recipe Servings:</label></p>
        <input asp-for="RecipeServings" class="form-control" />

        <div class="buttons">

        <button type="submit" class="btn btn-outline-danger" value="Update Recipe">Update Recipe</button>

        <a asp-action="Index" class="btn btn-outline-danger">Back To All Recipes</a>

        </div>

    </div>

</form>
