
@model Project.Services.ViewModels.RecipeViewModel

<head>
    <style>
        .buttons{
            margin-top:30px;
            margin-right:10px;
        }
        body{
            background: #CA0000;
        }
        form{
            background: white;
            margin:150px;
            padding:100px;
        }
    </style>
</head>

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="container">

        <p><label asp-for="RecipeId">RecipeId:</label></p>
        <input asp-for="RecipeId" class="form-control" />

        <p><label asp-for="RecipeTitle">RecipeTitle:</label></p>
        <input asp-for="RecipeTitle" class="form-control" />

        <p><label asp-for="RecipeImage">RecipeVideo:</label></p>
        <input asp-for="RecipeImage" class="form-control" />

        <p><label asp-for="RecipeInredients">RecipeInredients:</label></p>
        <textarea asp-for="RecipeInredients" class="form-control" id="RecipeInredients" name="RecipeInredients" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDescription">RecipeDescription:</label></p>
        <textarea asp-for="RecipeDescription" class="form-control" id="RecipeDescription" name="RecipeDescription" rows="4" cols="50"></textarea>
        
        <p><label asp-for="User">User:</label></p>
        <input asp-for="User" class="form-control" />

        <p><label asp-for="RecipeIntroduction">RecipeIntroduction:</label></p>
        <textarea asp-for="RecipeIntroduction" class="form-control" id="RecipeIntroduction" name="RecipeIntroduction" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeDirections">RecipeDirections:</label></p>
        <textarea asp-for="RecipeDirections" class="form-control" id="RecipeDirections" name="RecipeDirections" rows="4" cols="50"></textarea>

        <p><label asp-for="RecipeCookTime">RecipeCookTime:</label></p>
        <input asp-for="RecipeCookTime" class="form-control" />

        <p><label asp-for="RecipeCalories">RecipeCalories:</label></p>
        <input asp-for="RecipeCalories" class="form-control" />

        <p><label asp-for="RecipeServings">RecipeServings:</label></p>
        <input asp-for="RecipeServings" class="form-control" />

        <div class="buttons"></div>
        <button type="submit" class="btn btn-outline-danger" value="Update Recipe">Update Recipe</button>

        <a asp-action="Index" class="btn btn-outline-danger">Go Back</a>
        </div>

    </div>
</form>