@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="/css/homeIndex.css">
</head>

<div class="text-center">
    
    <h1 class="display-4">Welcome to Chef'sKiss,</h1>

    <p>your ultimate destination for culinary inspiration and gastronomic delights! Our passion for the art of cooking is infused into every aspect of this website, as we strive to bring you the finest collection of recipes, cooking tips, and mouthwatering creations.</p>
    
    <a asp-area="" asp-controller="Recipe" asp-action="Index" class="btn btn-success">Check Us Out!</a>

</div>
