@model Project.Services.ViewModels.ReviewViewModel

<head>
    <link rel="stylesheet" href="/css/style1.css">
</head>

<form method="post" asp-action="AddReview">

    @Html.AntiForgeryToken()

    <div class="container">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" asp-for="RecipeId" class="form-control" />

        <p><label asp-for="ReviewMessage">Review Message:</label></p>
        <input asp-for="ReviewMessage" class="form-control" />

        <div class="buttons">

        <button type="submit" class="btn btn-outline-danger" value="Add Review">Add Review</button>

        <a asp-action="Index" asp-controller="Recipe" class="btn btn-outline-danger">Back To All Recipes</a>

        </div>

    </div>

</form>
